.form-field-main {
  .form-control {
    background: $FormField-background;
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    .MuiInputBase-input {
      height: 45px;
      padding: 16px 20px;
      box-sizing: border-box;
      border: 1px solid $Active-Border;
      border-radius: 8px;
      &:focus {
        border: 2px solid $Theme-Primary;
      }
    }
  }
  .MuiInput-root {
    &::after {
      display: none !important;
    }
    &::before {
      display: none !important;
    }
  }
  .login-continue {
    margin-top: 15px;
    width: 124px;
    height: 40px;
    .MuiSvgIcon-root {
      font-size: 25px !important;
    }
  }
  .continue-button {
    background-color: $Theme-Primary;
    box-shadow: none;
    text-transform: capitalize;
    border-radius: 10px;
    @include LargeButtonFont;
  }
  .Mui-disabled {
    color: $Theme-white;
    background-color: $LightButton;
  }
  .multiOTPField {
    display: flex;
    justify-content: center;
    align-items: center;
    .MuiInput-root {
      margin: 4px;
    }
  }
  &.verification-form {
    border-bottom: 1px solid $Border-color;
    padding-bottom: 20px;
    .verifylabel {
      color: $LabelColor;
      @include FontMedium;
      margin-bottom: 10px;
      display: block;
    }
  }
  .form-field {
    margin-bottom: 15px;
    .fieldlable {
      text-align: left;
      color: $Heading;
      @include FontMedium;
      margin-bottom: 6px;
      display: block;
    }
    &.accountPersonalBox {
      position: relative;
      span {
        color: $Theme-dark;
        border-left: 1px solid $Active-Border;
        display: block;
        height: 45px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        min-width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include LargeButtonFont;
      }
    }
  }
  .appInfo {
    color: $Theme-dark;
    @include FontSmall;
    padding-top: 5px;
  }
}
